.bio {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;

  &Content {
    display: flex;
    flex-direction: column;

    &Desc {
      display: flex;
      flex-direction: column;
      gap: .8rem;

      h1 {
        font-size: 2.8rem;
      }

      &P {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        hr {
          margin: 1rem 0;
        }

        p {
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media(min-width: 640px) {
  .bio {
    &Content {
      &Desc {
        h1 {
          font-size: 3.2rem;
        }
        &P {
          gap: 1.6rem; 
          p {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}

@media(min-width: 1024px) {
  .bio {
    &Content {
      &Desc {
        gap: 1.2rem;
        h1 {
          font-size: 3.6rem;
        }

        &P{
          gap: 2rem;
          p {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}