.post {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .6rem;

  h1 {
    font-size: 2.8rem;
  }

}

@media(min-width: 1024px) {
  .post {
    h1 {
      font-size: 3rem;
    }
  }
}
