.container {
  width: 100%;
  padding: 2rem 1rem;
  margin: 1.4rem 0 2.4rem;
  border: 1px solid #757575;
  border-radius: 1rem;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text > h3 {
  margin-bottom: 1rem;
}

.form > form {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;

  & > input {
    width: 100%;
    padding: 0.5rem;
    // border: 1px 0 0 1px solid black;
    outline: none;
    background-color: transparent;
    border-radius: 0.5rem 0 0 0.5rem;
    color: #464646;
  }

  & > button {
    width: 70%;
    padding: 0.5rem 0;
    color: inherit;
    background-color: #464646;
    color: white;
    border-radius: 0 0.5rem 0.5rem 0;
    outline: none;
    cursor: pointer;
  }

}

.share {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;

  & > button {
    margin-top: 2rem;
    width: 50%;
    padding: 0.6rem 0;
    color: inherit;
    background-color: #464646;
    color: white;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }
}

@media(min-width: 640px) {
  .nav {
    width: fit-content;
    flex-direction: column;
    gap: .8rem;

    a {
      font-size: 1.6rem;
    }
  }
}

@media(min-width: 1280px) {
  .container {
    width: 90%;
    margin: 2.2rem 0 3.4rem;
    padding: 2.8rem 2rem;
  }
}