* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  display: flex;
  justify-content: center;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #f9f9f9f9;
  color: #464646;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (min-width: 640px) {
  body {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: "menu content";
    grid-template-columns: 0.3fr 0.7fr;
    grid-template-rows: 1fr;
    align-items: center;
    position: relative;
    overflow: auto;
  }

  .navbar {
    grid-area: menu;
    justify-self: flex-end;
  }

  main {
    width: 100%;
    grid-area: content;
    align-items: center;
    height: 100%;
    justify-content: flex-start;
    position: absolute;
    overflow: auto;
  }
}

@media (min-width: 1024px) {
  body {
    /* gap: 8rem; */
    & > nav {
      justify-self: flex-end;
    }
  }
}
